<div class="block block--figures">
  <div class="grid grid--1x2">
    <div class="text__info">
      <div class="icon-container">
        <img src="images/icon-communities.svg" />
      </div>
      <p class="text__info__number">1.4k+</p>
      <p class="text__info__footer">Communities Formed</p>
    </div>
    <div class="text__info">
      <div class="icon-container">
        <img src="images/icon-messages.svg" />
      </div>
      <p class="text__info__number">2.7m+</p>
      <p class="text__info__footer">Messages Sent</p>
    </div>
  </div>
</div>
